<doctype html>
  {% extends "header.html" %}
  <body>
    {% block bodyOfPage %}
    <div align="middle">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      <br>

      <h2>Delete question choice?</h2>

      <form method=post>
          <dl>
              {{ title }}
          </dl>
          <p>
        <button type="submit" class="btn btn-primary">Delete</button>
      </form>
    </div>
    {% endblock %}
  </body>
</html>
