<doctype html>
{% extends "header.html" %}

{% block bodyOfPage %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>Edit survey</h2>

{% from "_formhelpers.html" import render_field %}
<form method=post>
    <dl>
        {{ render_field(form.description) }}
        {{ render_field(form.start_date) }}
        {{ render_field(form.end_date) }}
    </dl>
    <p>
    <input type=submit value=Submit>
</form>

Questions:

<br><br>
<a href="/surveys/{{survey_id}}/questions/new" method="GET">New question</a>

<table border=solid>
{% for question in questions %}
  <tr>
  <td>{{question.type_}}</td>
  <td>{{question.title}}</td>
  <td><a href="/surveys/{{question.survey_id}}/questions/{{question.id_}}/edit" method="GET">edit</a></td>
  <td><a href="/surveys/{{question.survey_id}}/questions/{{question.id_}}/delete" method="POST" action="POST">delete</a></td>
  <td>
  </td> 
  </tr>
{% endfor %}
</table>

{% endblock %}
