<doctype html>
{% extends "header.html" %}

{% block bodyOfPage %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>Edit question</h2>

{% from "_formhelpers.html" import render_field %}
<form method=post>
    <dl>
        {{ render_field(form.type_) }}
        {{ render_field(form.title) }}
    </dl>
    <p>
    <input type=submit value=Submit>
</form>

<a href="/surveys/{{survey_id}}/questions/{{question_id}}/questionChoices/new" method="GET">New questionChoice</a>

<form>
{% for questionChoice in questionChoices %}
  <a href="/surveys/{{survey_id}}/questions/{{question_id}}/questionChoices/{{questionChoice.id_}}/edit" method="GET">edit</a>
  <a href="/surveys/{{survey_id}}/questions/{{question_id}}/questionChoices/{{questionChoice.id_}}/delete" method="GET">delete</a>
  {{questionChoice.title}}
  <br>
{% endfor %}
</form>

{% endblock %}
