<!DOCTYPE html>
{% extends "header.html" %}

{% block bodyOfPage %}
<div align="middle">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <br>
  <h2>Edit survey</h2>

  {% from "_formhelpers.html" import render_field %}
  <form method=post>
      <fieldset>
          <dl>
            {{ render_field(form.description) }}
            {{ render_field(form.start_date) }}
            {{ render_field(form.end_date) }}
            {{ render_field(form.enabled) }}
          </dl>
          <button type="submit" class="btn btn-primary">Submit</button>
       </fieldset>
  </form>
</div>
{% endblock %}
