<doctype html>
{% extends "header.html" %}

{% block bodyOfPage %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>Edit questionChoice</h2>

{% from "_formhelpers.html" import render_field %}
<form method=post>
    <dl>
        {{ render_field(form.title_) }}
    </dl>
    <p>
    <input type=submit value=Submit>
</form>

{% endblock %}