<html>

{% extends "header.html" %}
{% block html_attribs %} lang="en"{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/bootstrap.css')}}">
{% endblock %}

{% block bodyOfPage %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>Welcome to create surveys!</h2>

<p>You can add, edit and delete surveys.</p>

{% endblock %}
