<doctype html>
{% extends "header.html" %}

{% block bodyOfPage %}

<h2>New Survey</h2>
 
<form action="/surveys" method=post>
    <dl>
        ID:
        <br>
        <input type="text" name="id_">
        <br>
        Description
        <br>
        <input type="text" id="description" name="description">
        <br>
        Start date (YYYY-MM-DD)
        <br>
        <input type="text" name="start_date">
        <br>
        End date (YYYY-MM-DD)
        <br>
        <input type="text" name="end_date">
        <br>
    </dl>
    <p><input type=submit value=Submit>
</form>

{% endblock %}