<doctype html>
{% extends "header.html" %}

{% block bodyOfPage %}
<div align="middle">
  <h2>New question choice</h2>

  {% from "_formhelpers.html" import render_field %}
  <form action="/surveys/{{survey_id}}/questions/{{question_id}}/questionChoices" method=post>
      <fieldset>
      <dl>
          Survey ID: {{ survey_id }}
          Question ID: {{ question_id }}
          {{ render_field(form.title_) }}
      </dl>
      <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
  </form>
</div>
{% endblock %}
