<!DOCTYPE html>
{% extends "header.html" %}

{% block bodyOfPage %}
<div align="middle">
  <br>
  <h2>Question choices: Survey {{ survey_id}}, Question {{ question_id}}</h2>
  <br>
  <a href="/surveys/{{survey_id}}/questions" method="GET">
      <button type="button" class="btn btn-outline-secondary"><span class="glyphicon">&#xe257;</span> Questions</button>
  </a>
  <a href="/surveys/{{survey_id}}/questions/{{question_id}}/questionChoices/new" method="GET">
      <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New question</button>
  </a>
<br><br>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Question ID</th>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
    {% for questionChoice in questionChoices %}
  	  <tr>
  		<td>{{questionChoice.question_id_}}</td>
  		<td>{{questionChoice.id_}}</td>
  		<td>{{questionChoice.title_}}</td>
  		<td><a href="/surveys/{{survey_id}}/questions/{{question_id}}/questionChoices/{{questionChoice.id_}}/edit" method="GET">
        <span class="glyphicon glyphicon-pencil"></span>
      </a></td>
  		<td><a href="/surveys/{{survey_id}}/questions/{{question_id}}/questionChoices/{{questionChoice.id_}}/delete" method="GET">
        <span class="glyphicon glyphicon-trash"></span>
      </a></td>
  	  </tr>
  	{% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
