<doctype html>
<title>LLB</title>

<!-- Flashed messages -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>question_title: {{ question_title }}</h2>
<!-- <p>form_action_url: {{ form_action_url }}</p>
<p>question_id: {{ question_id }}</p>
<p>prev_url: {{ prev_url }}</p>
<p>next_url: {{ next_url }}</p>
<p>is_first: {{ is_first }}</p>
 -->

{% if is_first %}
  <p>is first question</p>

  {% from "_formhelpers.html" import render_field %}
  <form action="{{ form_action_url }}" method=post>
      <dl>
          {{ render_field(form.value_) }}
      </dl>
      <input type=hidden name='question_id' value={{ question_id }}>
      <input type=hidden name='prev_url' value={{ prev_url }}>
      <input type=hidden name='next_url' value={{ next_url }}>
      <p><input type=submit value=Next name=Next>
  </form>



{% else %}
  <p>not first question</p>

 {% from "_formhelpers.html" import render_field %}
  <form action="{{ form_action_url }}" method=post>
      <dl>
          {{ render_field(form.value_) }}
      </dl>
      <input type=hidden name='question_id' value={{ question_id }}>
      <input type=hidden name='prev_url' value={{ prev_url }}>
      <input type=hidden name='next_url' value={{ next_url }}>
      <p><input type=submit value=Prev name=Prev>
      <p><input type=submit value=Next name=Next>
  </form>

{% endif %}
