<!DOCTYPE html>
<!-- Done by Saija 4/18 -->
<!-- Mangled further by Inka 4/28 -->
<head>
    <title>stars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/questionnaire.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/stars.css') }}">
</head>

<style>

</style>

<!-- Flashed messages -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<body>
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <a class="navbar-brand" href="#"><b>LLB</b></a>
    </nav>
    <br>
    <h1>Star us!</h1>
    <p class="lead">Here is the question in which you can answer with stars. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <hr class="my-4">
    <div class="container">
        <h2>{{ question_title }}</h2>
        <br>

        {% from "_formhelpers.html" import render_field %}
        <form action="{{ form_action_url }}" method=post>
          <ul class="rate-area">
          	  <input type="radio" id="5-star" name="rating" value="5" /><label for="5-star" title="Amazing">5 stars</label>
          	  <input type="radio" id="4-star" name="rating" value="4" /><label for="4-star" title="Good">4 stars</label>
          	  <input type="radio" id="3-star" name="rating" value="3" /><label for="3-star" title="Average">3 stars</label>
          	  <input type="radio" id="2-star" name="rating" value="2" /><label for="2-star" title="Not Good">2 stars</label>
          	  <input type="radio" id="1-star" name="rating" value="1" /><label for="1-star" title="Bad">1 star</label>
          	</ul>

          <hr>
          <p class="lead">
          {% if not is_first %}
              <input type="submit" class="btn btn-info btn-lg" name="Previous" value="Prev" role="button"></a>
          {% endif %}
              <input type="submit" class="btn btn-success btn-lg" name="Next" value="Next" role="button"></a>
          </p>

          <input type=hidden name='question_id' value={{ question_id }}>
          <input type=hidden name='question_type' value={{ question_type }}>
          <input type=hidden name='prev_url' value={{ prev_url }}>
          <input type=hidden name='next_url' value={{ next_url }}>

        </form>
        <p class="text-muted">Progress: {{ progress }} %</p>
    </div>
</body>
</html>
