<!DOCTYPE html>
  {% extends "header.html" %}

  <head>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    {% block bodyOfPage %}
    <div class="container" align="middle">

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <br>
      <h2>Surveys</h2>
      <br>
      <a href="/surveys/new" method="GET">
        <button type="button" class="btn btn-success"><span class="glyphicon">&#x2b;</span> Create new survey</button>
      </a>
      <a href="\results\surveys" method="GET">
        <button type="button" class="btn btn-info"><span class="glyphicon">&#xe012;</span> Show results of past surveys
        </button>
      </a>

      <br><br>

      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Start date</th>
              <th scope="col">End date</th>
              <th scope="col">Enabled</th>
              <th scope="col">Questions</th>
              <th scope="col">Feedback</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>

          <tbody>
            {% for survey in surveys %}
            	<tr>
          		  <td>{{survey.id_}}</td>
                <td>{{survey.name_}}</td>
          		  <td>{{survey.start_date_}}</td>
          		  <td>{{survey.end_date_}}</td>
                <td>{{survey.enabled_}}</td>
                <td>
                  <a href="\surveys\{{survey.id_}}\questions" method="GET">
                    <button type="button" class="btn btn-outline-secondary btn-sm">
                      <span class="glyphicon">&#xe012;</span>  Show questions
                    </button>
                  </a>
                </td>
                <td>
                  <a href="\results\surveys\{{survey.id_}}" method="GET">
                    <button type="button" class="btn btn-outline-secondary btn-sm">
                      <span class="glyphicon">&#xe012;</span>  Show feedback
                    </button>
                  </a>
                </td>
          		  <td><a href="\surveys\{{survey.id_}}\edit" method="GET"><span class="glyphicon glyphicon-pencil"></span></a></td>
          		  <td><a href="\surveys\{{survey.id_}}\delete" method="GET"><span class="glyphicon glyphicon-trash"></span></a></td>
                <td><a class="btn btn-success btn-lg" href="\feedback\{{survey.id_}}" role="button">Start survey</a>
          	  </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
    {% endblock %}
  </body>
</html>
