<!DOCTYPE html>
<!-- Done by Saija 4/18 -->

<head>
    <title>Questionnaire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/questionnaire.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-primary">
      <a class="navbar-brand" href="#">LLB</a>
    </nav>
    <br>
    <h1>Welcome to the bus survey!</h1>
    <p class="lead">Here is the description of the survey. <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <hr class="my-4">
    <p>Let's beging!</p>
    <p class="lead">
        <a class="btn btn-success btn-lg" href="#" role="button">Start survey</a>
    </p>
    <hr>

    <img alt="Logo" src="static/img/logoLLB.png" align="middle">

</body>

</html>
