/*!
 *
 * Based on
 * https://gist.github.com/rcotrina94/7828886
 *
 * CSS-file to make emoticon radio-buttons work.
 * Needed in smileys.html
 * Created by Saija 4/18
 */
form {
     display: inline-block;
     text-align: center;
 }
.thumbs-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.thumbsup {background-image:url(../img/thumbs_up.svg);}
.thumbdown{background-image:url(../img/thumbs_down.svg);}

.thumbs-selector input:active +.thumbs-cc{opacity: .9;}
.thumbs-selector input:checked +.thumbs-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.thumbs-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.thumbs-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}*/
