<doctype html>
  {% extends "header.html" %}
  <body>
    {% block bodyOfPage %}
    <div align="middle">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      
      <br>

      <h2>Edit question choice</h2>

      {% from "_formhelpers.html" import render_field %}
      <form method=post>
          <dl>
              {{ render_field(form.title_) }}
          </dl>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    {% endblock %}
  </body>
</html>
